/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: "ShipporiMincho-Regular";
  src: url(../fonts/ShipporiMincho-Regular.woff) format("woff"); }
body {
  font-size: 2rem;
  font-family: "Noto Serif", "ShipporiMincho-Regular";
  color: white;
  background-image: url(../img/background-min.jpg);
  background-repeat: repeat; }

img {
  width: 100%;
  vertical-align: bottom; }

.section-wrapper {
  padding: 0 30px;
  width: 100%; }

.flex {
  display: flex; }

.fv .fv-wrapper {
  background-image: url(../img/top-background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  position: relative; }
  .fv .fv-wrapper .logo-img {
    width: 400px;
    position: absolute;
    top: 40%;
    left: 16%; }
  .fv .fv-wrapper h1 {
    font-size: 5rem;
    position: absolute;
    top: 80%;
    left: 10%; }

.colors-wrapper {
  margin: 70px 0 0 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 140px; }
  .colors-wrapper h2 {
    font-size: 4rem;
    margin-right: auto; }
  .colors-wrapper h3 {
    text-align: center;
    margin: 80px 70px 0;
    font-weight: bold;
    font-style: italic;
    font-size: 6rem; }
  .colors-wrapper .colors-img-wrapper {
    width: 370px;
    margin: 0 auto; }

.function-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }
  .function-wrapper li {
    margin-bottom: 70px; }
  .function-wrapper h3 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px; }
  .function-wrapper h4 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px; }
  .function-wrapper .function {
    justify-content: space-around;
    align-items: center; }
    .function-wrapper .function .function-img-wrapper {
      width: 360px; }
    .function-wrapper .function p {
      width: 360px; }
    .function-wrapper .function .order1 {
      order: 1; }
    .function-wrapper .function .order2 {
      order: 2; }

.colors-cream-wrapper {
  margin: 0 auto;
  margin-top: 280px;
  width: 90%;
  max-width: 1100px; }
  .colors-cream-wrapper h2 {
    font-size: 4rem;
    margin-right: auto; }
  .colors-cream-wrapper h3 {
    text-align: center;
    margin: 80px 70px 0;
    font-weight: bold;
    font-style: italic;
    font-size: 5rem; }
  .colors-cream-wrapper .cream-img-wrapper {
    width: 370px;
    margin: 0 auto; }

.extract-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1100px; }
  .extract-wrapper h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 70px; }
  .extract-wrapper .extract {
    width: 95%; }
    .extract-wrapper .extract .extract-img-wrapper {
      width: 170px;
      margin: 0 auto; }
    .extract-wrapper .extract h4 {
      font-size: 3rem;
      font-weight: bold;
      margin: 0 auto;
      margin: 40px 0;
      text-align: center; }
    .extract-wrapper .extract p {
      width: 220px;
      text-align: center;
      margin: 0 auto; }
  .extract-wrapper .extract1 {
    margin: 0 auto; }

.introduction-wrapper {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 1100px; }
  .introduction-wrapper .introduction {
    width: 100%;
    margin: 0 auto; }
    .introduction-wrapper .introduction h3 {
      font-size: 3rem;
      margin: 70px 0; }
    .introduction-wrapper .introduction .introduction-video {
      margin-top: 280px;
      font-size: 4rem; }
    .introduction-wrapper .introduction p {
      text-align: center; }
    .introduction-wrapper .introduction .youtube-outer {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 32.7%; }
      .introduction-wrapper .introduction .youtube-outer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .introduction-wrapper .component {
    width: 80%; }

.feature-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 140px;
  max-width: 1100px; }
  .feature-wrapper h2 {
    font-size: 4rem; }
  .feature-wrapper .icon-wrapper ul {
    padding-top: 70px;
    justify-content: space-around;
    align-items: center; }
    .feature-wrapper .icon-wrapper ul li {
      text-align: center; }
      .feature-wrapper .icon-wrapper ul li h3 {
        font-weight: bold;
        font-style: italic;
        margin: 40px 0; }
      .feature-wrapper .icon-wrapper ul li p {
        width: 200px; }

.sales-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 140px; }
  .sales-wrapper .sales {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    max-width: 1200px;
    margin: 0 auto; }
    .sales-wrapper .sales .sales-img-wrapper {
      width: 240px; }
    .sales-wrapper .sales .sales-discription {
      width: 540px; }
      .sales-wrapper .sales .sales-discription p {
        font-size: 2rem;
        line-height: 1.5; }
        .sales-wrapper .sales .sales-discription p span {
          font-size: 3.3rem; }
      .sales-wrapper .sales .sales-discription .last {
        justify-content: space-between;
        align-items: center;
        margin-top: 40px; }
        .sales-wrapper .sales .sales-discription .last .link-btn {
          color: #707070;
          background-color: #fff;
          width: 240px;
          line-height: 60px;
          font-size: 2.5rem;
          display: block;
          text-align: center;
          font-weight: bold;
          border-radius: 10px; }
          .sales-wrapper .sales .sales-discription .last .link-btn:hover {
            opacity: .7; }
        .sales-wrapper .sales .sales-discription .last .price {
          font-size: 3.5rem; }

footer {
  line-height: 70px;
  background-color: #525252;
  text-align: center;
  color: #fff;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem; }

  .fv .fv-wrapper {
    background-position: right 15% top 50%; }
    .fv .fv-wrapper .logo-img {
      width: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .fv .fv-wrapper h1 {
      font-size: 2rem;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }

  .colors-wrapper h2 {
    font-size: 2rem;
    text-align: center; }
  .colors-wrapper h3 {
    font-size: 3rem; }
  .colors-wrapper .colors-img-wrapper {
    width: 150px; }

  .function-wrapper {
    width: 95%; }
    .function-wrapper h3 {
      font-size: 2rem; }
    .function-wrapper h4 {
      font-size: 1.6rem; }
    .function-wrapper .flex {
      flex-direction: column; }
      .function-wrapper .flex .function-img-wrapper {
        width: 80%;
        margin-bottom: 40px; }
      .function-wrapper .flex p {
        width: 100%; }
      .function-wrapper .flex .order1 {
        order: 2; }
      .function-wrapper .flex .order2 {
        order: 1; }

  .colors-cream-wrapper h2 {
    font-size: 2rem;
    text-align: center; }
  .colors-cream-wrapper h3 {
    font-size: 1.6rem; }
  .colors-cream-wrapper .cream-img-wrapper {
    width: 150px;
    margin-top: 20px; }

  .extract-wrapper h3 {
    font-size: 2rem; }
  .extract-wrapper .flex {
    display: block; }
    .extract-wrapper .flex h3 {
      font-size: 2rem;
      text-align: center; }
    .extract-wrapper .flex .extract h4 {
      font-size: 1.6rem; }
    .extract-wrapper .flex .extract1 {
      padding-top: 70px;
      padding-bottom: 70px; }
    .extract-wrapper .flex .extract2 {
      margin-bottom: 70px; }

  .introduction-wrapper {
    margin: 0 auto; }
    .introduction-wrapper .introduction h3 {
      font-size: 1.6rem; }
    .introduction-wrapper .introduction .introduction-video {
      text-align: center;
      font-size: 2rem; }

  .feature-wrapper h2 {
    font-size: 2rem;
    text-align: center; }
  .feature-wrapper .icon-wrapper ul {
    flex-direction: column; }
    .feature-wrapper .icon-wrapper ul li p {
      margin-bottom: 40px; }

  .sales-wrapper {
    margin-bottom: 70px; }
    .sales-wrapper .sales {
      flex-direction: column; }
      .sales-wrapper .sales .sales-img-wrapper {
        width: 150px;
        margin: 0 auto; }
      .sales-wrapper .sales .sales-discription {
        font-size: 1.6rem;
        text-align: center;
        width: 95%; }
        .sales-wrapper .sales .sales-discription .last {
          flex-direction: column;
          justify-content: center; }
    .sales-wrapper .sales:nth-of-type(2) {
      margin-top: 70px; }

  footer {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
